In [8]:
# The query() function is used to query the columns of a DataFrame with a boolean expression.

import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame({'P': range(1, 7),
                   'Q': range(12, 0, -2),
                   'R R': range(12, 6, -1)})
df

   P   Q  R R
0  1  12   12
1  2  10   11
2  3   8   10
3  4   6    9
4  5   4    8
5  6   2    7

In [13]:
df.query('P > Q')

   P  Q  R R
4  5  4    8
5  6  2    7

In [14]:
df[df.P > df.Q]

   P  Q  R R
4  5  4    8
5  6  2    7

In [15]:
import pandas as pd
df = pd.DataFrame({'P': range(1, 7),
                   'Q': range(12, 0, -2),
                   'R R': range(12, 6, -1)})
df.query('Q == `R R`')

   P   Q  R R
0  1  12   12

In [16]:
df[df.Q == df['R R']]

   P   Q  R R
0  1  12   12